
*{
    margin: 0px;
    padding: 0px;
}

.p-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 339px;
}

.ca-container{
    display: flex;
    flex-direction: column;
    /* padding-top: 20px; */
    border: 1px solid rgb(181, 179, 179);
    height: 310px;
    padding: 30px;
}
.img-box{
    height: 372px;
}
.img-box img{
    height: 100%;
}
.login-box img{
    height: 100px;
}
.login-img{
   display: flex;
    justify-content: center;
}
h4{
    margin-bottom: 20px;
    margin-top: 10px;
    color: gray;
}
.input1{
    margin-top: 6px;
    margin-bottom: 6px;
    height: 30px;
    padding-left: 10px;
    border-radius: 20px;
    width: 95%;
    border: none;
    border: 1px solid rgb(209, 206, 206);
}
#radio{
    margin-top: 10px;
}
button{
   width: 100%;
   height: 35px;
   border-radius: 20px;
   border: none;
   background-color: #efa317;
   color: white;
   margin-top: 10PX;
   padding: 10px;
}
input::placeholder{
        color: #efa317;
    }
#input:hover{
    border: 1px solid #efa317;
   
}
input:active{
    border: 2px solid #efa317;
    outline: none;
   
}
button:hover{
    background-color: #382504;
    transition: all 0.5s ease-in-out;
}